#content {
    margin: 0;
    background: url("~@/assets/images/background/thumbnail2.png");
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #314b49;
    text-align: left;
    padding: 0 80px 0 80px;
}
